{% extends 'base.html' %}

{% block title %}PIM{% endblock %}
{% block subtitle %}Personal information manager.{% endblock %}

{% block content %}

<div class="column">

        <div class="card m-1">
            <div class="card-content">
                Welcome <strong>{{ request.user.username }}</strong>!
                <br>
                <small>Last login: <strong>{{ request.user.last_login }}</strong></small>
            </div>
        </div>

</div>

<div class="column">
    <strong>Applications</strong>
    <hr>
    <a href="{% url 'task-list' %}">
        <div class="card m-1">
            <div class="card-content">
                Task Manager
            </div>
        </div>
    </a>
    <a href="{% url 'task-list' %}">
        <div class="card m-1">
            <div class="card-content">
                Calendar
            </div>
        </div>
    </a>
    <a href="{% url 'task-list' %}">
        <div class="card m-1">
            <div class="card-content">
                Diary
            </div>
        </div>
    </a>
    <a href="{% url 'task-list' %}">
        <div class="card m-1">
            <div class="card-content">
                Notes
            </div>
        </div>
    </a>
    <a href="{% url 'task-list' %}">
        <div class="card m-1">
            <div class="card-content">
                Contacts
            </div>
        </div>
    </a>
</div>


{% endblock %}
